@import url("./general.css");

.centered {
    text-align: center;
}

main {
    width: 90%;
    margin: 0% 5%;
    align-content: center;
    flex: 1;
}

main h1 {
    text-align: center;
    font-style: italic;
    margin: 2% 0%
}

main h2 {
    margin: auto;
    text-align: center;
}

main h3, main ul {
    text-align: justify;
}

main li {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

.contact-mail {
    margin-top: 5%;
}

@media (max-width: 930px) {
    main h1 {
        margin-bottom: 15%;
    }

    main h3, main ul {
        text-align: start;
    }

    main li {
        list-style: disc;
    }

    .contact-mail {
    margin-top: 10%;
}
}